/* Start Variables */
:root {
    --main-duration: 0.3s; 
    --main-color: #10cab7;
    --second-color: #24484f;
    --default-box-shadow: 0 0 10px #ddd;
    --Third-color: #f6f6f6;
    --section-padding: 60px;
    --default-line-height: 1.6;
    --default-pragraph-color: #24484f94;
}
/* End Variables */

/* Start Global Rules */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
}
body {
    font-family: "Work Sans", sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
    @media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
    @media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
p {
    margin: 0;
}
h3 {
    margin: 0;
}
/* End Global Rules */
/* Start Components */
.special-heading {
    color: #ebeced;
    font-size: 100px;
    letter-spacing: -3px;
    text-align: center;
    margin: 0;
}
.special-heading + p {
    color: var(--default-pragraph-color);
    margin: -30px 0 0;
    text-align: center;
    font-size: 20px;
}
@media (max-width: 767px) {
    .special-heading {
        font-size: 80px;
    }
    .special-heading + p {
        margin-top: -25px;
    }
}
/* End Components */
/* Start Header */
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 80px;
}
.header .links {
    position: relative;
    cursor: pointer;
}
.header .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .icon span {
    width: 100%;
    height: 2px;
    background-color: #24484f;
    margin-bottom: 5px;
}
.header .icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
}
.header .links:hover span:nth-child(2) {
    width: 100%;
}
.header .links div {
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    top: calc(100% + 1px);
    border-bottom: 5px solid #24484f;
    display: none;
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
    z-index: 1;
}
.header .links div .sep {
    width: 100%;
    height: 5px;
    background-color: var(--second-color);
    position: absolute;
    top: 0;
}
.header .links button {
    background-color: #10cab7;
    color: #f6f6f6;
    border: none;
    border-bottom: 2px solid #f6f6f6;
    text-align: left;
    padding: 20px;
    min-width: 200px;
    max-height: 100%;
    cursor: pointer;
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
}
.header .links button:hover {
    padding-left: 30px;
}
.header .links .icon div a:last-child button {
    border: none;
}
.header .links .icon div a:hover button {
    color: #24484f;
}
.header .links button:hover {
    border-bottom-color: #24484f;
}
.header .links:hover div {
    display: block;
}
/* End Header */

/* Start landing section */
.landing {
    background-image: url(../images/686998.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: calc(100vh - 72px);
    position: relative;
}
.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    min-width: 300px;
    max-width: 100%;
    line-height: 1.8;
}
.landing .intro-text h1 {
    margin: 0;
    color: var(--main-color);
    text-align: center;
    font-size: 40px;
}
.landing .intro-text p {
    color: var(--default-pragraph-color);
    font-size: 20px;
    width: 100%;
    text-align: center;
}
/* End landing section */

/* Start features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #f6f6f6;
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.features .feat {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 20px;
}
.features .feat i {
    font-size: 50px;
    color: var(--main-color);
}
.features .feat h3 {
    margin: 0;
    font-weight: 800;
    color: var(--second-color);
}
.features .feat p {
    margin: 0;
    font-size: 17px;
    line-height: 1.8;
    color: #24484f94;
}
/* End features */

/* Start Services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    margin-top: 100px;
}
.services-content .col {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.services-content .srv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media (max-width: 767px) {
    .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
    .c1,
    .c2 {
        gap: 40px;
    }
}
.services-content .srv .text {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex: 1;
}
.services-content .srv i {
    font-size: 40px;
    color: var(--main-color);
    flex-basis: 60px;
}
.services-content .srv h3 {
    margin-top: 0;
}
.services-content .srv p {
    font-weight: 300;
    color: var(--default-pragraph-color);
    line-height: 1.6;
}
.services-content .image {
    position: relative;
}
.services-content .image::after {
    content: "";
    width: 100px;
    height: calc(100% + 100px);
    background-color: var(--second-color);
    position: absolute;
    right: 30px;
    top: -50px;
    z-index: -1;
}
.services .services-content .image img {
    width: 260px;
}
@media (max-width: 1199px) {
    .services .image {
        display: none;
    }
}
/* End Services */
/* Start portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--Third-color);
}
.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    margin-top: 100px;
}
.portfolio-content .card {
    background-color: white;
}
.portfolio-content .card img {
    max-width: 100%;
}
.portfolio-content .card .info {
    padding: 20px;
    color: #24484f;
}
.portfolio-content .card .info p {
    margin-top: 10px;
    line-height: var(--default-line-height);
    color: var(--default-pragraph-color);
}
/* End portfolio */
/* Start About */
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}
.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}
.about-content .image {
    width: 250px;
    height: 375px;
    position: relative;
}
.about-content .image::before {
    content: "";
    position: absolute;
    width: 100px;
    height: calc(100% + 80px);
    background-color: #ebeced;
    top: -40px;
    left: -17px;
    z-index: -1;
}
.about-content .image::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 80px solid var(--main-color);
    border-left: 80px solid var(--main-color);
    left: calc(100% - 40px);
    top: -40px;
    z-index: -1;
}
.about-content img {
    max-width: 100%;
}
@media (max-width: 1010px) {
    .about-content .image::before,
    .about-content .image::after {
        display: none;
    }
    .about-content {
        justify-content: space-evenly;
    }
}
@media (max-width: 992px) {
    .about-content .image::before,
    .about-content .image::after {
        display: none;
    }
    .about-content {
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .about-content .image {
        margin-bottom: 60px;
    }

}
.about-content .text {
    flex-basis: calc(100% - 500px);
}
.about-content .text p {
    color: var(--second-color);
    line-height: 2;
    margin-bottom: 50px;
    font-weight: bold;
}
.about-content .text p:last-of-type {
    font-weight: normal;
    color: #24484f94;
    font-size: 14px;
    line-height: 1.4;
}
.about-content hr {
    display: inline-block;
    width: 50%;
    border-color: var(--main-color);
}
/* End About */
/* Start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--Third-color);
}
.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}
.contact .info p {
    font-size: 40px;
    font-weight: 800;
    color: var(--second-color);
    letter-spacing: -1px;
    margin-bottom: 15px;
}
.contact .info a {
    display: block;
    font-size: 40px;
    font-weight: 800;
    text-decoration: none;
    color: var(--main-color);
    margin-bottom: 10px;
}
.contact .info .social {
    display: flex;
    justify-content: center;
}
.contact .info .social i {
    margin-left: 8px;
    color: var(--second-color);
}
@media (max-width: 767px) {
    .contact .info p,
    .contact .info a {
        font-size: 25px;
    }
}
/* End Contact */
/* Start Footer */
.footer {
    background-color: var(--second-color);
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 30px 0;
}
.footer span {
    font-weight: bold;
    color: var(--main-color);
}
/* End Footer */
.to-top {
    width: fit-content;
    position: fixed;
    right: 15px;
    bottom: 15px;
}
.to-top button {
    background-color: transparent;
    border: none;
}
.to-top i {
    font-size: 35px;
    color: var(--main-color);
    cursor: pointer;
    opacity: 0.5;
    transition: 0.15s;
    -webkit-transition: 0.15s;
    -moz-transition: 0.15s;
    -ms-transition: 0.15s;
    -o-transition: 0.15s;
}
.to-top i:hover {
    opacity: 1;
}